@tailwind base;

@layer base {
  h1 {
    @apply text-3xl md:text-4xl font-bold;
  }
  h2 {
    @apply text-2xl md:text-3xl font-bold;
  }
  h3 {
    @apply text-xl md:text-2xl font-bold;
  }
  h3 {
    @apply text-lg md:text-xl font-bold;
  }
  h4 {
    @apply text-base md:text-lg font-bold;
  }
  h5 {
    @apply text-sm md:text-base font-bold;
  }
  h6 {
    @apply text-xs md:text-sm font-bold;
  }
  a {
    @apply text-blue-600 hover:text-blue-500 dark:text-blue-400 transition-colors;
  }
}

@tailwind components;
@tailwind utilities;



html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}


*::-webkit-scrollbar {
  @apply w-1.5;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded;
}

*::-webkit-scrollbar-thumb {
  @apply rounded bg-blue-400 hover:cursor-pointer;
}

.textarea {
  @apply resize-none w-full focus:outline-none text-sm md:text-base placeholder:text-sm md:placeholder:text-base placeholder:text-gray-400;
}